.container {
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 24px 2px rgba(153, 153, 153, 1); 
    border-radius: 25px;
}
#display {
    text-align: right;
    height: 64px;
    line-height: 64px;
    padding: 16px 8px;
    font-size: 35px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}
 .buttons {
     display: grid;
     border-bottom: 1 px solid #999;
     border-left:  1 solid #999;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 .buttons > div {
     border-top: 1px #999;
     border-right:1px #999;
 }
 .button {
     border: .5px solid #999;
     line-height: 100px;
     text-align: center;
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
     cursor: pointer;
     color: orange;
     background-color: aliceblue;
 }
 #equal {
     background-color: orange;
     color: aliceblue;
 }
 .button:hover {
     background-color: orange;
     color: aliceblue;
     transition: 0.5s;
 }